body {
  font-family: Arial, Helvetica, sans-serif;
}
#intro {
  text-align: center;
}
#subintro {
  text-align: center;
}
.box {
  display: flex;
  gap: 90px;
  justify-content: center;
}
#supervisor {
  width: 300px;
  height: 150px;
  background-color: aliceblue;
}
#team {
  width: 300px;
  height: 150px;
  background-color: bisque;
}
#karma {
  width: 300px;
  height: 150px;
  background-color: honeydew;
}
#calculator {
  width: 300px;
  height: 150px;
  background-color: paleturquoise;
}
